!!!!!ftp 서버 관리 앱 요구사항 정리(미완)!!!!!!!

---------기능 요구사항
@@@ftp서버랑 tcp수신 서버는 개인 데탑에서 구현한다.@@@

현재 ftp 서버, tcp/ip서버 오픈 여부 확인 기능.

현재 ftp 서버에 있는 파일 실시간 확인 기능.

파일 업로드 기능 : 로컬의 경로를 설정하고 실행버튼 누르면 해당 경로의 파일을 서버로 전송한다. 전송 잘 됐는지 여부도 확인^^

파일 삭제 기능 : 현재 파일 실시간 확인 기능으로 띄운 파일들 중 하나를 선택하고, 
					삭제버튼을 누르면 메시지박스로 삭제여부 물어본 뒤 서버에서 해당파일을 삭제한다.
					
					
사용자 요청 확인 기능 :  사용자가 tcp/ip로 서버에 보낸 텍스트 요청들을 서버가 userid와 함께 DB로 저장해 놓으면,
								그것을 각 요청마다 리스트화 해 볼 수 있게 ui에 띄운다.
							
								띄울 정보들은 서버에 있는 DB에 직접 쿼리를 보내서 요청파일 정보와 해당파일의 작성자 정보를 받아온다.
							
								그리고 리스트에서 각 파일을 클릭하면 옆의 텍스트 박스에 해당 파일의 내용을 출력한다.
							
사용자 요청 피드백 기능 : 사용자의 요청에 대한 응답 메시지를 보낼 수 있는 기능이다.
								응답을 이메일로 보낼지 App자체 통신으로 보낼지는 아직 미정.	 
							
---------비기능 요구사항(아직 구현 할지 안할지 미정 및 구상안했음.)
파일리스트 검색기능.





==============================서버 구현할 때 참고사항================================
FTP서버는 뭘로 구축할건지 정하기.
DB : MySQL로 작성. 

